html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none; }

mark {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*:focus {
  outline: 0; }

::-moz-selection {
  color: white;
  background-color: #666666;
  text-shadow: none; }

::selection {
  color: white;
  background-color: #666666;
  text-shadow: none; }

.clearfix:after {
  *display: inline-block; }
  .clearfix:after:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.clear {
  clear: both; }

body {
  font-size: 13px;
  line-height: 20px;
  color: #333333;
  background: white;
  font-family: Georgia, serif;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #666666;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-weight: 300;
  line-height: 20px; }

h1 {
  font-size: 29.9px;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 20px; }

h2 {
  font-size: 26px;
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 10px; }

h3 {
  font-size: 17.94px;
  padding-top: 5px;
  padding-bottom: 5px; }

h4 {
  font-size: 15.99px;
  padding-top: 5px;
  padding-bottom: 5px; }

h5 {
  font-size: 13px;
  font-weight: bold;
  font-family: Georgia, serif; }

h6 {
  font-size: 11.05px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Georgia, serif; }

p {
  margin-bottom: 20px; }

a:focus, a:hover {
  color: #ff3300; }

a {
  color: #ff6600;
  font-weight: bold;
  text-decoration: none;
  transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out; }

blockquote {
  font-family: Helvetica Neue, Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #999999;
  font-style: italic; }

strong {
  font-weight: bold; }

em, dfn {
  font-style: italic; }

dfn {
  font-weight: bold; }

sup, sub {
  line-height: 0; }

abbr, acronym {
  border-bottom: 1px dotted #666666; }

address {
  margin-bottom: 20px;
  font-style: italic; }

del {
  color: #999999; }

pre, code {
  margin-top: 20px;
  margin-bottom: 20px;
  white-space: pre; }

pre, code, tt {
  font-family: Consolas, Andale Mono, Lucida Console, Monospace; }

li ul, li ol {
  margin-top: 20px;
  margin-bottom: 20px; }

ul, ol {
  margin-bottom: 20px; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

dl {
  margin-bottom: 20px; }

dl dt {
  font-weight: bold; }

dd {
  margin-left: 20px; }

table {
  margin-bottom: 20px;
  width: 100%; }

th, td {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 9px;
  padding-left: 10px;
  border-bottom: 1px solid;
  border-color: #e6e6e6;
  vertical-align: top;
  line-height: 19.5px; }

th {
  font-weight: bold;
  text-align: left;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 11.05px;
  background-color: #e6e6e6;
  padding-top: 5px;
  padding-bottom: 4px; }

tr.even td,
tr.even th {
  background-color: #f2f2f2; }

th.numeric, td.numeric {
  text-align: right; }

th.center, td.center {
  text-align: center; }

table tfoot {
  background-color: #f2f2f2; }

.weak {
  color: #999999; }

.highlight {
  background: #fefed7; }

.dquo {
  margin-left: -0.5em; }

.small {
  font-size: 11.05px;
  line-height: 15.99px; }

.caps {
  font-variant: small-caps;
  text-transform: lowercase;
  font-size: 18.2px;
  line-height: 1%; }

form {
  margin: 0;
  margin-bottom: 20px; }

form fieldset {
  padding-bottom: 20px;
  margin-bottom: 0; }

form fieldset.last {
  padding-bottom: 0; }

form ol, form ul {
  list-style-type: none;
  margin: 0; }

form legend {
  font-family: Helvetica Neue, Arial, sans-serif;
  border: 0;
  border-top: 1px solid;
  border-color: #e6e6e6;
  clear: both;
  color: #999999;
  font-size: 9.75px;
  font-weight: bold;
  line-height: 15px;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 15px;
  text-transform: uppercase;
  width: 100%; }

form li {
  overflow: hidden;
  margin: 0;
  margin-bottom: 15px;
  padding: 0; }

label {
  display: block;
  font-weight: bold;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 11.05px;
  line-height: 30px;
  cursor: pointer; }

label.errors {
  color: #cc0000; }

form label abbr, form table th abbr {
  font-size: 20.8px;
  font-style: normal;
  font-weight: normal;
  vertical-align: bottom;
  border-bottom: none; }

input[type="text"], input[type="password"], select {
  width: 33%; }

textarea {
  width: 66%;
  height: 80px;
  transition-property: "border-color";
  -webkit-transition-property: "border-color";
  -moz-transition-property: "border-color";
  -o-transition-property: "border-color";
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out; }

input[type="text"], input[type="password"], input[type="file"], textarea, select {
  background-color: white;
  background-image: url("../framework/img/input_background.png");
  background-repeat: repeat-x;
  border-top: 1px solid #bbbbbb;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #bbbbbb;
  margin: 0;
  padding: 4px;
  line-height: 20px;
  font-size: 13px;
  font-family: Georgia, serif;
  transition-property: "border-color";
  -webkit-transition-property: "border-color";
  -moz-transition-property: "border-color";
  -o-transition-property: "border-color";
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out; }

select {
  background-image: none;
  height: 30px;
  position: relative;
  top: -0.3em;
  transition-property: "border-color";
  -webkit-transition-property: "border-color";
  -moz-transition-property: "border-color";
  -o-transition-property: "border-color";
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out; }

input[disabled] {
  cursor: not-allowed; }

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
  border-color: #ff6600; }

form .help_text {
  color: #999999;
  display: block;
  font-family: Georgia, serif;
  margin-top: 6.667px;
  line-height: 15px;
  font-size: 11.05px; }

ul.errorlist {
  color: #cc0000; }

form ul.errorlist {
  margin: 0; }

form ul.errorlist li {
  margin: 0; }

.checkboxes,
.radios {
  margin-bottom: 0; }

.checkboxes input[type=checkbox],
.checkbox input[type=checkbox],
.radios input[type=radio] {
  float: left;
  background: none;
  margin-top: 3.003px;
  margin-right: 5px;
  margin-left: 3.003px;
  margin-bottom: 0;
  border: 0; }

input[type="radio"] {
  vertical-align: text-bottom; }
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

.wide li {
  clear: both;
  line-height: 30px;
  overflow: hidden; }

.wide label {
  float: left;
  margin-right: 1%;
  text-align: right;
  width: 32%; }

.wide input[type="text"], .wide input[type="password"], .wide input[type="file"], .wide textarea {
  width: 32%;
  margin: 0 1% 0 0;
  float: left; }

.wide textarea {
  width: 49.5%;
  margin-right: 0; }

.wide input[type=text], .wide input[type="password"], .wide input[type="file"] {
  line-height: 20px; }

.wide input[type="checkbox"] {
  float: left;
  width: 3%;
  margin-top: 10px; }

.wide select {
  margin-top: 5px;
  margin-right: 1%;
  width: 33.25%;
  float: left; }

.wide .multiple_fields input, .multiple_fields select {
  float: left;
  margin-right: 0;
  width: auto; }

.wide .help_text {
  float: left;
  width: 31%; }

.wide .textarea .help_text {
  width: 49.5%;
  padding-left: 33%;
  margin-bottom: 20px;
  margin-top: -5px; }

.wide p {
  margin-left: 33%;
  margin-right: 16.5%; }

.wide .buttons {
  border-top: 1px solid;
  border-color: #e6e6e6;
  padding-left: 33%;
  padding-top: 19px; }

.wide ul.errorlist {
  padding-left: 33%; }

.wide .checkboxes ul,
.wide .checkbox,
.wide .radios ul {
  clear: none;
  float: left;
  overflow: hidden;
  padding-left: 33%;
  width: 33%; }

.wide .checkboxes li,
.wide .radios li {
  clear: none;
  float: left;
  width: 33%; }

.wide .checkboxes label,
.wide .checkbox label,
.wide .radios label {
  text-align: left;
  width: auto; }

.wide .checkboxes input[type=checkbox],
.wide .checkbox input[type=checkbox],
.wide .radios input[type=radio] {
  float: left;
  width: auto;
  margin-top: 8px;
  margin-right: 5px;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  font: normal; }

.wide .checkbox .help_text {
  float: none;
  width: auto; }

table.formset {
  margin: 0; }

table.formset input, textarea {
  float: none !important; }

table.formset input[type="text"], table.formset input[type="password"], table.formset input[type="file"], table.formset textarea {
  width: auto; }

table.formset td, table.formset th {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 30px; }

table.formset tfoot p {
  color: #666666;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 11.05px;
  text-transform: none;
  font-style: italic;
  margin: 0;
  text-align: left;
  font-weight: normal; }

.wide table.formset {
  margin-left: 33%; }

.wide table.formset {
  width: 49.5%; }

table td form label {
  display: none; }

.buttons {
  overflow: hidden;
  margin-bottom: 40px; }

.buttons button,
.buttons .button,
a.button {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  height: 20px;
  line-height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  background-image: url("../framework/img/button_background.png");
  background-position: bottom center;
  background-repeat: repeat-x;
  border: 1px solid #b4b4b4;
  border-top: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  color: #666666;
  cursor: pointer;
  display: block;
  float: left;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
  margin-right: 10px;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 9.75px;
  text-align: center;
  transition-property: "background-color, border-color, color";
  -webkit-transition-property: "background-color, border-color, color";
  -moz-transition-property: "background-color, border-color, color";
  -o-transition-property: "background-color, border-color, color";
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  white-space: nowrap; }

.buttons.right button,
.buttons.right .button {
  float: right;
  margin-right: 0;
  margin-left: 10px; }

button::-moz-focus-inner {
  border-color: transparent; }

.buttons img {
  margin: -2px 0 0 5px;
  vertical-align: text-top;
  width: 16px;
  height: 16px; }

.buttons .subtle,
a.button.subtle {
  background: none;
  border-color: #eeeeee;
  color: #999999; }

.buttons button:hover,
.buttons .button:hover,
a.button:hover {
  transition-duration: 0;
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -o-transition-duration: 0; }

.buttons .subtle:hover,
a.button.positive:hover {
  background-color: #f2f2f2;
  background-image: url("../framework/img/button_background.png");
  background-position: bottom center;
  background-repeat: repeat-x;
  border-color: #b4b4b4; }

.buttons button:hover,
.buttons .button:hover,
a.button:hover {
  background-color: #f2f2f2;
  border-color: #b4b4b4; }

.buttons button:active,
.buttons .button:active,
a.button:active {
  background-color: #ff6600;
  border-color: #ff3300;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4); }

.buttons .positive,
a.button.positive {
  color: #529214; }

.buttons .positive:active,
a.button.positive:active {
  background-color: #529214;
  border-color: #467c11; }

.buttons .negative,
a.button.negative {
  color: #cc0000; }

.buttons .negative:active,
a.button.negative:active {
  background-color: #d12f19;
  border-color: #b22815; }

.buttons .passive,
a.button.passive {
  background: none;
  border-color: transparent;
  color: #999999;
  text-transform: none; }

.buttons .passive:hover,
a.button.passive:hover {
  background: none;
  border-color: #d4d4d4;
  color: #666666; }

.buttons .passive:active,
a.button.passive:active {
  background: #b4b4b4;
  border-color: #b4b4b4;
  color: white; }

a.button.disabled,
a.button.disabled:hover,
a.button.disabled:active {
  background: #d4d4d4;
  border-color: #c6c6c6;
  color: #828282;
  cursor: not-allowed !important; }

#messages ul {
  background-position: bottom center;
  background-repeat: repeat-x;
  border: 1px solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  display: block;
  font-weight: bold;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  font-family: Helvetica Neue, Arial, sans-serif;
  color: #999999;
  background-color: #f2f2f2;
  border-color: #e6e6e6;
  list-style-type: none; }

#messages ul li.success {
  color: #529214; }

#messages ul li.error {
  color: #cc0000; }

.span-1 {
  width: 3.158%; }

.span-2 {
  width: 7.368%; }

.span-3 {
  width: 11.579%; }

.span-4 {
  width: 15.789%; }

.span-5 {
  width: 20%; }

.span-6 {
  width: 24.211%; }

.span-7 {
  width: 28.421%; }

.span-8 {
  width: 32.632%; }

.span-9 {
  width: 36.842%; }

.span-10 {
  width: 41.053%; }

.span-11 {
  width: 45.263%; }

.span-12 {
  width: 49.474%; }

.span-13 {
  width: 53.684%; }

.span-14 {
  width: 57.895%; }

.span-15 {
  width: 62.105%; }

.span-16 {
  width: 66.316%; }

.span-17 {
  width: 70.526%; }

.span-18 {
  width: 74.737%; }

.span-19 {
  width: 78.947%; }

.span-20 {
  width: 83.158%; }

.span-21 {
  width: 87.368%; }

.span-22 {
  width: 91.579%; }

.span-23 {
  width: 95.789%; }

.span-24 {
  width: 100%;
  margin: 0; }

.column-1 {
  width: 3.158%;
  float: left;
  margin-right: 1.053%; }

.column-2 {
  width: 7.368%;
  float: left;
  margin-right: 1.053%; }

.column-3 {
  width: 11.579%;
  float: left;
  margin-right: 1.053%; }

.column-4 {
  width: 15.789%;
  float: left;
  margin-right: 1.053%; }

.column-5 {
  width: 20%;
  float: left;
  margin-right: 1.053%; }

.column-6 {
  width: 24.211%;
  float: left;
  margin-right: 1.053%; }

.column-7 {
  width: 28.421%;
  float: left;
  margin-right: 1.053%; }

.column-8 {
  width: 32.632%;
  float: left;
  margin-right: 1.053%; }

.column-9 {
  width: 36.842%;
  float: left;
  margin-right: 1.053%; }

.column-10 {
  width: 41.053%;
  float: left;
  margin-right: 1.053%; }

.column-11 {
  width: 45.263%;
  float: left;
  margin-right: 1.053%; }

.column-12 {
  width: 49.474%;
  float: left;
  margin-right: 1.053%; }

.column-13 {
  width: 53.684%;
  float: left;
  margin-right: 1.053%; }

.column-14 {
  width: 57.895%;
  float: left;
  margin-right: 1.053%; }

.column-15 {
  width: 62.105%;
  float: left;
  margin-right: 1.053%; }

.column-16 {
  width: 66.316%;
  float: left;
  margin-right: 1.053%; }

.column-17 {
  width: 70.526%;
  float: left;
  margin-right: 1.053%; }

.column-18 {
  width: 74.737%;
  float: left;
  margin-right: 1.053%; }

.column-19 {
  width: 78.947%;
  float: left;
  margin-right: 1.053%; }

.column-20 {
  width: 83.158%;
  float: left;
  margin-right: 1.053%; }

.column-21 {
  width: 87.368%;
  float: left;
  margin-right: 1.053%; }

.column-22 {
  width: 91.579%;
  float: left;
  margin-right: 1.053%; }

.column-23 {
  width: 95.789%;
  float: left;
  margin-right: 1.053%; }

.column-24 {
  width: 100%;
  margin: 0;
  float: left;
  margin-right: 1.053%;
  margin: 0; }

.box-1 {
  float: left;
  width: 1.053%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-2 {
  float: left;
  width: 5.263%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-3 {
  float: left;
  width: 9.474%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-4 {
  float: left;
  width: 13.684%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-5 {
  float: left;
  width: 17.895%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-6 {
  float: left;
  width: 22.105%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-7 {
  float: left;
  width: 26.316%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-8 {
  float: left;
  width: 30.526%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-9 {
  float: left;
  width: 34.737%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-10 {
  float: left;
  width: 38.947%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-11 {
  float: left;
  width: 43.158%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-12 {
  float: left;
  width: 47.368%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-13 {
  float: left;
  width: 51.579%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-14 {
  float: left;
  width: 55.789%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-15 {
  float: left;
  width: 60%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-16 {
  float: left;
  width: 64.211%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-17 {
  float: left;
  width: 68.421%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-18 {
  float: left;
  width: 72.632%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-19 {
  float: left;
  width: 76.842%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-20 {
  float: left;
  width: 81.053%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-21 {
  float: left;
  width: 85.263%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-22 {
  float: left;
  width: 89.474%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-23 {
  float: left;
  width: 93.684%;
  padding: 1.053%;
  margin-right: 1.053%; }

.box-24 {
  float: left;
  width: 97.895%;
  padding: 1.053%;
  margin-right: 1.053%;
  margin: 0; }

.append-1 {
  padding-right: 4.211% !important; }

.append-2 {
  padding-right: 8.421% !important; }

.append-3 {
  padding-right: 12.632% !important; }

.append-4 {
  padding-right: 16.842% !important; }

.append-5 {
  padding-right: 21.053% !important; }

.append-6 {
  padding-right: 25.263% !important; }

.append-7 {
  padding-right: 29.474% !important; }

.append-8 {
  padding-right: 33.684% !important; }

.append-9 {
  padding-right: 37.895% !important; }

.append-10 {
  padding-right: 42.105% !important; }

.append-11 {
  padding-right: 46.316% !important; }

.append-12 {
  padding-right: 50.526% !important; }

.append-13 {
  padding-right: 54.737% !important; }

.append-14 {
  padding-right: 58.947% !important; }

.append-15 {
  padding-right: 63.158% !important; }

.append-16 {
  padding-right: 67.368% !important; }

.append-17 {
  padding-right: 71.579% !important; }

.append-18 {
  padding-right: 75.789% !important; }

.append-19 {
  padding-right: 80% !important; }

.append-20 {
  padding-right: 84.211% !important; }

.append-21 {
  padding-right: 88.421% !important; }

.append-22 {
  padding-right: 92.632% !important; }

.append-23 {
  padding-right: 96.842% !important; }

.prepend-1 {
  padding-left: 4.211% !important; }

.prepend-2 {
  padding-left: 8.421% !important; }

.prepend-3 {
  padding-left: 12.632% !important; }

.prepend-4 {
  padding-left: 16.842% !important; }

.prepend-5 {
  padding-left: 21.053% !important; }

.prepend-6 {
  padding-left: 25.263% !important; }

.prepend-7 {
  padding-left: 29.474% !important; }

.prepend-8 {
  padding-left: 33.684% !important; }

.prepend-9 {
  padding-left: 37.895% !important; }

.prepend-10 {
  padding-left: 42.105% !important; }

.prepend-11 {
  padding-left: 46.316% !important; }

.prepend-12 {
  padding-left: 50.526% !important; }

.prepend-13 {
  padding-left: 54.737% !important; }

.prepend-14 {
  padding-left: 58.947% !important; }

.prepend-15 {
  padding-left: 63.158% !important; }

.prepend-16 {
  padding-left: 67.368% !important; }

.prepend-17 {
  padding-left: 71.579% !important; }

.prepend-18 {
  padding-left: 75.789% !important; }

.prepend-19 {
  padding-left: 80% !important; }

.prepend-20 {
  padding-left: 84.211% !important; }

.prepend-21 {
  padding-left: 88.421% !important; }

.prepend-22 {
  padding-left: 92.632% !important; }

.prepend-23 {
  padding-left: 96.842% !important; }

.pull-1 {
  float: left;
  margin-bottom: 20px;
  margin-left: -40px !important; }

.pull-2 {
  float: left;
  margin-bottom: 20px;
  margin-left: -80px !important; }

.pull-3 {
  float: left;
  margin-bottom: 20px;
  margin-left: -120px !important; }

.pull-4 {
  float: left;
  margin-bottom: 20px;
  margin-left: -160px !important; }

.pull-5 {
  float: left;
  margin-bottom: 20px;
  margin-left: -200px !important; }

.pull-6 {
  float: left;
  margin-bottom: 20px;
  margin-left: -240px !important; }

.pull-7 {
  float: left;
  margin-bottom: 20px;
  margin-left: -280px !important; }

.pull-8 {
  float: left;
  margin-bottom: 20px;
  margin-left: -320px !important; }

.pull-9 {
  float: left;
  margin-bottom: 20px;
  margin-left: -360px !important; }

.pull-10 {
  float: left;
  margin-bottom: 20px;
  margin-left: -400px !important; }

.pull-11 {
  float: left;
  margin-bottom: 20px;
  margin-left: -440px !important; }

.pull-12 {
  float: left;
  margin-bottom: 20px;
  margin-left: -480px !important; }

.push-1 {
  float: right;
  margin-bottom: 20px;
  margin-right: -40px !important; }

.push-2 {
  float: right;
  margin-bottom: 20px;
  margin-right: -80px !important; }

.push-3 {
  float: right;
  margin-bottom: 20px;
  margin-right: -120px !important; }

.push-4 {
  float: right;
  margin-bottom: 20px;
  margin-right: -160px !important; }

.push-5 {
  float: right;
  margin-bottom: 20px;
  margin-right: -200px !important; }

.push-6 {
  float: right;
  margin-bottom: 20px;
  margin-right: -240px !important; }

.push-7 {
  float: right;
  margin-bottom: 20px;
  margin-right: -280px !important; }

.push-8 {
  float: right;
  margin-bottom: 20px;
  margin-right: -320px !important; }

.push-9 {
  float: right;
  margin-bottom: 20px;
  margin-right: -360px !important; }

.push-10 {
  float: right;
  margin-bottom: 20px;
  margin-right: -400px !important; }

.push-11 {
  float: right;
  margin-bottom: 20px;
  margin-right: -440px !important; }

.push-12 {
  float: right;
  margin-bottom: 20px;
  margin-right: -480px !important; }

.container {
  *display: inline-block;
  max-width: 73.077em;
  padding: 0 1em;
  margin: 0 auto; }
  .container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.container-box {
  *display: inline-block;
  max-width: 73.077em;
  padding: 0 1em;
  margin: 0 auto; }
  .container-box:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.last {
  margin-right: 0 !important; }

#content {
  width: 66.316%;
  float: left;
  margin-right: 1.053%; }
  #content .boxes {
    width: 100%;
    float: left;
    margin-right: 1.587%; }
  #content .boxes li {
    list-style-type: none;
    width: 49.206%;
    float: left;
    margin-right: 1.587%; }
  #content .boxes li:last-child {
    margin-right: 0 !important; }

#sidebar {
  width: 32.632%;
  float: left;
  margin-right: 1.053%;
  margin-right: 0 !important; }
  #sidebar .boxes {
    width: 100%;
    float: left;
    margin-right: 3.226%; }
  #sidebar .boxes li {
    list-style-type: none;
    width: 48.387%;
    float: left;
    margin-right: 3.226%; }
  #sidebar .boxes li:last-child {
    margin-right: 0 !important; }
